<div class='page_title'>
  <h1>Full Card View</h1>
</div>

<div id='card_front'>
  <p><%= @card.front %></p>
</div>
<div id='card_back'>
  <p><%= @card.back %></p>
</div>

<%= link_to 'Edit this Card', edit_card_path(@card) %>
<br>
<%= link_to 'Delete this Card',
    card_path(@card),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
<br>
<%= link_to 'Return to List of Cards', cards_path %>

