<div class='page_title'>
  <h1>View Deck</h1>
</div>

<p>
  Description:
  <%= @deck.description %>
</p>

<p>Cards in this Deck:</p>
<table>
  <tr>
    <td>Front</td>
    <td>Back</td>
  </tr>
  <% @deck.cards.each do |card| %>
    <tr>
      <td><%= card.front %></td>
      <td><%= card.back %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit Description', edit_deck_path(@deck) %><br>
<%= link_to 'Add/Remove Cards from this Deck', add_remove_cards_path(@deck) %><br>
<%= link_to 'Delete this Deck',
    deck_path(@deck),
    method: :delete,
    data: { confirm: 'Are you sure?' } %><br>
<%= link_to 'Return to Deck List', decks_path %>
